@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    color: #666;
}